<div class="col-md-4">
  <h2 class="text-center">Edit Trip</h2>

  <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <!-- Code -->
    <div class="form-group">
      <label>Code:</label>
      <input type="text" formControlName="code" class="form-control" readonly />
    </div>

    <!-- Name -->
    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="name" class="form-control" required />
    </div>

    <!-- Length -->
    <div class="form-group">
      <label>Length:</label>
      <input
        type="text"
        formControlName="length"
        class="form-control"
        required
      />
    </div>

    <!-- Start -->
    <div class="form-group">
      <label>Start:</label>
      <input type="date" formControlName="start" class="form-control" required />
    </div>

    <!-- Resort -->
    <div class="form-group">
      <label>Resort:</label>
      <input type="text" formControlName="resort" class="form-control" required />
    </div>

    <!-- Per Person -->
    <div class="form-group">
      <label>Per Person:</label>
      <input type="number" formControlName="perPerson" class="form-control" required />
    </div>

    <!-- Image -->
    <div class="form-group">
      <label>Image Name:</label>
      <input type="text" formControlName="image" class="form-control" required />
    </div>

    <!-- Description -->
    <div class="form-group">
      <label>Description:</label>
      <textarea formControlName="description" class="form-control" required></textarea>
    </div>

    <!-- SAVE & DELETE BUTTONS -->
    <button type="submit" class="btn btn-info">Save</button>

    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteTrip()"
      style="margin-left:10px;"
    >
      Delete Trip
    </button>

  </form>
</div>